

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.right {
  float: right;

}
.right img {
  width: 40px; /* 원하는 너비로 조절 */
  height: auto; /* 비율을 유지하면서 너비에 맞게 자동으로 높이를 조절 */
  margin-top: 390px;
  margin-left: 1000px;
}

.top-text-container {
  position: fixed; 
  font-family: "elza", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: rgb(1, 255, 18);
  top: -3.6px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase; /* 텍스트를 대문자로 변환 */
}

.text1 {
  font-size: 180px;
  font-family: "elza", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: rgb(1, 255, 18);
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




  @media screen and (max-width: 499px) {

   
    
      /* Fix position of #next */

      .text1 {
        font-size: 55px;
        font-family: "elza", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: rgb(1, 255, 18);
        text-align: center;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .right {
        float: right;
    
      }
      .right img {
        width: 18px; /* 원하는 너비로 조절 */
        height: auto; /* 비율을 유지하면서 너비에 맞게 자동으로 높이를 조절 */
        margin-top: 318px;
        margin-left: 320px;
      }

.top-text-container {
  position: fixed; 
  font-family: "elza", sans-serif;
  font-weight: 800;
  font-size: 9px;
  color: rgb(1, 255, 18);
  top: -3.6px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase; /* 텍스트를 대문자로 변환 */
}

      

}

  