

body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center; 
  align-items: center; 
}


a {
color: rgb(1, 255, 18);
text-decoration: none;
}

a:hover {
cursor: pointer;
color: white;
border-radius: 2px;
}
img {
width: 20px; 
height: auto; 
}

.hidden{
  display: none!important;
}

.top-text-container {
position: fixed; 
font-family: "elza", sans-serif;
font-weight: 800;
font-size: 20px;
color: rgb(1, 255, 18);
top: -3.6px;
left: 0;
width: 100%;
padding: 20px;
box-sizing: border-box;
display: flex;
justify-content: space-between;
z-index: 1;

}
.filter {
position: fixed;
top: 10%;
left: 50%;
transform: translate(-50%, 0);
text-align: center;
z-index: 2;
}

.filter a {
display: inline-block;
font-family: "elza", sans-serif;
font-size: 12px;
padding: 3px 10px;
margin: 0 10px;
background-color: rgba(1, 255, 18, 0); 
color: rgb(1, 255, 18);
text-decoration: none;
border-radius: 1px;
border: 2px solid rgb(1, 255, 18); 
}

.filter a.active-kpop {
  background-color:rgb(1, 255, 18);
  color: black;
}

.filter a.active-rb {
  background-color:rgb(1, 255, 18); 
  color: black;
}

.filter a.active-hiphop {
  background-color: rgb(1, 255, 18);
  color: black;
}

.dashboard_inputs {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  padding: 10px;
}

.dashboard_inputs {
  transition: background-color 0.6s, color 0.6s;
}

.rangeInput {
  /* 슬라이더의 트랙 (슬라이더 바) */
  --range-color: #afafaf;
  --range-thumb-color: #2980b9;
  --range-thumb-size: 10px;
  --range-thumb-border: 2px solid #2980b9;
  --range-thumb-hover-color: #2c3e50;
  --range-thumb-hover-border: 2px solid #2c3e50;
  --range-thumb-active-color: #1abc9c;
  --range-thumb-active-border: 2px solid #1abc9c;
}

.rangeInput::-webkit-slider-runnable-track {
  background: var(--range-color);
}

.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--range-thumb-size);
  height: var(--range-thumb-size);
  border: var(--range-thumb-border);
  background: var(--range-thumb-color);
  cursor: pointer;
  transition: background 0.15s, border-color 0.15s;
}

.rangeInput::-webkit-slider-thumb:hover {
  background: var(--range-thumb-hover-color);
  border-color: var(--range-thumb-hover-border);
}

.rangeInput::-webkit-slider-thumb:active {
  background: var(--range-thumb-active-color);
  border-color: var(--range-thumb-active-border);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-row-gap: 10px; 
    grid-column-gap: 0px; 
    justify-content: center;
    align-items: center; 
    margin-top: 200px;
    transition: all 0.5s ease;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 400px;
}

.gallery {
  display: flex;
  animation: marquee 20s linear infinite;
}

.image {
  margin: 10px;
  position: relative;
}
.image img {
  width: 10px;
  height: 10px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease; 
}
.image:hover img {
  transform: scale(1.1);
  cursor: pointer; /* 호버할 때 커서 모양을 변경합니다. */
}


.text1 {
font-size: 100px;
font-family: "elza", sans-serif;
color: rgb(1, 255, 18);
font-weight: 800;
line-height: 1.5; 
position:absolute;
top: 60px;
left: 100px;
max-width: 60%;
}


.grid-container {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 5px;
grid-row-gap: 20px; 
grid-column-gap: 0px; 
justify-content: center;
align-items: center; 
margin-top: 200px;
}
.grid-item {
position: relative;
text-align: center; 
}

.grid-item img {
width: 70%; 
height: auto; 
transition: transform .3s ease, opacity 0.2s ease;
}

.grid-item:hover img {
transform: scale(1.5);
opacity: 0.5;
}




.caption {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-family: "elza", sans-serif;
font-size: 13px;
color: white;
padding: 10px;
border-radius: 5px;
opacity: 0; 
transition: opacity 0.3s ease-in-out;
}


.grid-item:hover .caption {
opacity: 1; 
}

.audio {
position: absolute;
bottom: 0;
left: 0;
display: none;
}

.grid-item:hover .audio {
display: block;
}
.audio::-webkit-media-controls {
display: none !important;
}

@media screen and (max-width: 499px) {

    .text1 {
      font-size: 65px;
      font-family: "elza", sans-serif;
      color: rgb(1, 255, 18);
      font-weight: 800;
      line-height: 1.5;
      position: fixed;
      top: 15%; 
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 60%;
    }
    .horizontal-line {
      border-top: 2px solid rgb(1, 255, 18);
      height: 330px;
      position: absolute;
      width: 90%;
      top: 50%;
      transform: translateY(-50%);
    }
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1px;
      grid-row-gap: 10px; 
      grid-column-gap: 0px; 
      justify-content: center;
      align-items: center; 
      margin-top: 130px;
    }
    .caption {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "elza", sans-serif;
      font-size: 8px;
      color: white;
      padding: 5px;
      opacity: 0; 
      transition: opacity 0.3s ease-in-out;
      line-height: 1;
    }
    .top-text-container {
      position: fixed; 
      font-family: "elza", sans-serif;
      font-weight: 800;
      font-size: 13px;
      color: rgb(1, 255, 18);
      top: -3.6px;
      left: 0;
      width: 100vw;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      z-index: 1;
    
    }
    img {
      width: 15px; 
      height: auto; 
    }

    .filter {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      z-index: 2;
    }
    
    .filter a {
      display: inline-block;
      font-family: "elza", sans-serif;
      font-size: 9px;
      padding: 3px 5px;
      margin: 0 3px; 
      background-color: rgba(1, 255, 18, 0); 
      color: rgb(1, 255, 18);
      text-decoration: none;
      border-radius: 1px;
      border: 2px solid rgb(1, 255, 18); 
    }
    
}

