

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'PP Neue Montreal', sans-serif;                                       
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}


.dark-mode {
  background-color: black;
  color: white;
}

.spotlight {
  width: 750px;
  height: 750px;
  background: radial-gradient(circle, rgb(120, 156, 228) 20%, rgba(128, 163, 231, 0.5) 60%, rgba(128, 163, 231, 0) 100%);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  filter: blur(45px);
  z-index: -999;
  border-radius: 60% 40% 30% 50% / 50% 60% 40% 30%;
  transition: background 0.5s ease;
}

.dark-mode .spotlight {
  background: radial-gradient(circle, rgb(74, 121, 216) 20%, rgba(128, 163, 231, 0.5) 60%, rgba(128, 163, 231, 0) 100%);
}

img {
  width: 480px;
  height: 320px;
  margin-bottom: 57%;
  margin-left: -550px;
  object-fit: cover;
  transform: translateY(20px); /* Move the image down by 20px */
  z-index: 1; /* Ensure it's above the background */
}


.question {
  font-size: 36px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 33.3%; /* 고정된 위치 설정 */
  left: 50%; /* 고정된 위치 설정 */
  max-width: 35%; /* 너비 조정 */
  text-align: left; /* 왼쪽 정렬 */
  white-space: normal; /* 텍스트가 길어지면 줄 바꿈되도록 설정 */
  z-index: 1; /* Ensure it's above the background */
}

#fun-fact {
  color: rgb(0, 0, 0); /* 텍스트 색상을 검정색으로 설정 */
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 18px;
  position: fixed; /* 화면에 고정된 위치 설정 */
  top: 14%; /* 화면 상단에서 15% 떨어진 위치 */
  left: 50%;
  transform: translateX(-50%); /* 수평으로 가운데 정렬 */
  text-align: center;
  z-index: 1; /* Ensure it's above the background */
  text-transform: lowercase; 
  
}



.loader-container {
  position: absolute;
  top: 60px; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  font-size: 15px;
  font-family: 'PP Neue Montreal', sans-serif;                                             
  color: rgb(0, 0, 0);
  width: 80%; 
  max-width: 1200px; 
}

.loading-bar-background {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3); 
  margin-top: 10px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  width: 0%; 
  background-color: #c3daff; /* 로딩 바의 색상 */
  transition: width 0.3s ease-in-out; /* 너비 변화 시 애니메이션 */
}

#loading-text {
  color: rgb(0, 0, 0); /* 텍스트 색상을 검정색으로 설정 */
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 23px;
  
}

.dark-mode .loading-bar-background {
  background-color: rgba(255, 255, 255, 0.3); /* Lighter background for dark mode */
}

.dark-mode .loading-bar {
  background-color: #d6e6ff;
}

.button-container {
  position: fixed;
  right: 32.2%;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'PP Neue Montreal', sans-serif;                                               
  font-size: 19px;
  width: 300px;
  color: rgb(0, 0, 0);
  text-transform:lowercase ;
}

.text-option {
  padding: 40px;
  cursor: pointer;
}


.stat-result {
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 16px;
  position: fixed; /* 화면을 기준으로 고정 위치 */
  bottom: 27.5%; /* 화면 하단에서 10px 위에 위치 */
  left: 50.3%; /* 화면 너비의 59.2%에 위치 */
  text-align: left; /* 왼쪽 정렬 */
  color: rgb(0, 0, 0);
}

.dark-mode .question,
.dark-mode #fun-fact,
.dark-mode #loading-text,
.dark-mode .button-container,
.dark-mode .stat-result {
  color: white;
}

#darkModeToggle {
  position: fixed; /* Keeps the button fixed to the screen even when scrolling */
  bottom: 20px; /* 20px from the bottom */
  right: 20px; /* 20px from the right */
  padding: 10px 15px;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: #333; /* Dark button background */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
  z-index: 1000; /* Ensures the button stays on top */
  text-transform: uppercase;
}

.dark-mode #darkModeToggle {
  background-color: white; /* Light background in dark mode */
  color: black; /* Dark text in dark mode */
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 10px 13.5px;
}

#refresh {
  position: fixed; /* Keeps the button fixed to the screen even when scrolling */
  bottom: 65px; /* 20px from the bottom */
  right: 20px; /* 20px from the right */
  padding: 10px 24.3px;
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 13px;
  font-weight: 500;
  background-color: #333; /* Dark button background */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
  z-index: 1000; /* Ensures the button stays on top */
  text-transform: uppercase;
}

.dark-mode #refresh {
  background-color: white; /* Light background in dark mode */
  color: black; /* Dark text in dark mode */
  font-family: 'PP Neue Montreal', sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

