body {
  background: white;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'PP Neue Montreal', sans-serif;                                       
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;

}

img {
  width: 600px;
  height: 600px; /* 정사각형 크기로 설정 */
  margin-bottom: 50%;
  margin-left: -650px; /* 이미지를 왼쪽으로 이동 */
  margin-top: 50px; /* 이미지를 아래로 내리기 위해 추가 */
  object-fit: cover; /* 이미지 비율 유지 */
}


.fade-in-image {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.fade-in-image.show {
  opacity: 1;
}

/*
.image-info {
  position: absolute;
  bottom: 25px;
  left: 25px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  display: flex; 
  gap: 50px; 
  align-items: center; 
  flex-direction: row; 
}

.image-info span {
  white-space: nowrap;
}

.title {
    font-size: 13px;
    color: rgb(0, 0, 0);
    position: absolute;
    bottom: 25px; 
    right: 25px;   
}
*/

.question {
  font-size: 70px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 26%; 
  left: 70%; 
  transform: translate(-50%, -50%); 
  max-width: 100%;
}

.loader-container {
  position: absolute;
  top: 40px; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  font-size: 15px;
  font-family: 'PP Neue Montreal', sans-serif;                                             
  color: rgb(255, 255, 255);
  width: 80%; 
  max-width: 1200px; 
}

.loading-bar-background {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3); 
  margin-top: 10px;
  overflow: hidden;
}

.loading-bar {
  height: 100%;
  width: 0%; 
  background-color: #d6e6ff; /* 로딩 바의 색상 */
  transition: width 0.3s ease-in-out; /* 너비 변화 시 애니메이션 */
}

#loading-text {
  color: black; /* 텍스트 색상을 검정색으로 설정 */
}


.button-container {
  position: absolute;
  right: 27%;
  top: 50%;
  transform: translateY(-50%);
  background: none; /* 배경을 없앰 */
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'PP Neue Montreal', sans-serif;                                               
  font-size: 16px;
  width: 300px; /* 고정된 너비 설정 */
}

.stat-result {
  font-family: 'PP Neue Montreal', sans-serif;                                               
  font-size: 16px;
  position: absolute; /* 부모 요소를 기준으로 위치 설정 */
  top: 69%; /* button-container의 중간 높이에 정렬 */
  left: 55.4%; /* .button-container 왼쪽에 위치 */
  transform: translateY(-50%); 
  text-align: center;
}
