

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


#back img {
  position: fixed;
  top: 20px; 
  left: 20px; 
  transform: rotate(180deg);
}

.text1 {
  font-size: 24px;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  font-weight: 500;
  line-height: 1.5; 
  position:absolute;
  top: 100px;
  left: 100px;
  max-width: 60%;
  
}
.text2 {
  font-size: 24px;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  font-weight: 500;
  line-height: 1.5; 
  position:absolute;
  top: 560px;
  left: 100px;
  max-width: 60%;
  text-decoration: underline;
}
.text3 {
  font-size: 24px;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  font-weight: 500;
  line-height: 1.5; 
  position:absolute;
  top: 600px;
  left: 100px;
  max-width: 60%;
  text-decoration: underline;
}
.text4 {
  font-size: 24px;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  font-weight: 500;
  line-height: 1.5; 
  position:absolute;
  top: 640px;
  left: 100px;
  max-width: 60%;
  text-decoration: underline;
}


  @media screen and (max-width: 499px) {

   
    
      /* Fix position of #next */
      #next img {
        top: 25px;
        right: 69px; /* Adjust right position */
        width: 10px;
        position: fixed;
        z-index: 20;
      }

}

  