body {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: rgb(1, 255, 18);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: white;
  border-radius: 2px;
}
img {
  width: 20px; /* 원하는 너비로 조절 */
  height: auto; /* 너비에 맞게 자동으로 높이를 조절하여 비율을 유지 */
}

.top-text-container {
  position: fixed; 
  font-family: "elza", sans-serif;
  font-weight: 800;
  font-size: 20px;
  color: rgb(1, 255, 18);
  top: -3.6px;
  left: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  z-index: 1;

}

.text {
  font-size: 100px;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  font-weight: 800;
  line-height: 1.5;
  position: absolute;
  top: 60px;
  left: 100px;
  max-width: 60%;
}

.horizontal-line {
  border-top: 2px solid rgb(1, 255, 18);
  height: 370px;
  position: absolute;
  width: 90%;
  top: 50%;
  transform: translateY(-50%);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 600px;
  margin-top: 300px;
  margin-bottom: 50px;
}

.audio {
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}
.audio::-webkit-media-controls {
  display: none !important;
}

.image-container1:hover .audio {
  display: block;
}
.image-container2:hover .audio {
  display: block;
}
.image-container3:hover .audio {
  display: block;
}
.image-container4:hover .audio {
  display: block;
}
.image-container5:hover .audio {
  display: block;
}
.image-container6:hover .audio {
  display: block;
}
.image-container7:hover .audio {
  display: block;
}
.image-container8:hover .audio {
  display: block;
}
.image-container9:hover .audio {
  display: block;
}
.image-container10:hover .audio {
  display: block;
}
.image-container11:hover .audio {
  display: block;
}
.image-container12:hover .audio {
  display: block;
}
.image-container13:hover .audio {
  display: block;
}
.image-container14:hover .audio {
  display: block;
}
.image-container15:hover .audio {
  display: block;
}
.image-container16:hover .audio {
  display: block;
}
.image-container17:hover .audio {
  display: block;
}
.image-container18:hover .audio {
  display: block;
}
.image-container19:hover .audio {
  display: block;
}
.image-container20:hover .audio {
  display: block;
}
.text-left {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  font-weight: 800;
  gap: 5px;
  align-items: left;
}

.text-left > div {
  padding: 5px;
}

.text-right {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  align-items: right;
  
}
.text-right {
  text-align: right;
  cursor: pointer;
}

.text-right > div {
  padding: 8px;
  font-family: "elza", sans-serif;
  color: rgb(1, 255, 18);
  position: relative;
  align-items: right;
}

.text-right > div img {
  display: none;
  position: absolute;
  top: -220px;
  left: -130%;
  width: 100%;
  transition: opacity 0.5s;
}


.text-right > div:hover img {
  display: block;
  opacity: 1;
  z-index: 1;
}


@media screen and (max-width: 499px) {
 
  .text {
    font-size: 55px;
    font-family: "elza", sans-serif;
    color: rgb(1, 255, 18);
    font-weight: 800;
    line-height: 1.5;
    position: absolute;
    top: 15%; /* 상단 여백을 절반으로 조정 */
    left: 50%; /* 좌측 여백을 절반으로 조정 */
    transform: translate(-50%, -50%); /* 텍스트를 정확히 가운데로 이동 */
    max-width: 60%;
  }
  .horizontal-line {
    border-top: 2px solid rgb(1, 255, 18);
    height: 330px;
    position: absolute;
    width: 90%;
    top: 50%;
    transform: translateY(-50%);
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 200px;
    margin-bottom: 30px;
    max-width: 96%;
  }

  .text-left {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "elza", sans-serif;
    font-size: 11px;
    color: rgb(1, 255, 18);
    font-weight: 800;
    gap: 4x;
    align-items: left;
  }
  
  .text-left > div {
    padding: 5.5px;
  }
  
  .text-right {
    display: grid;
    font-size: 11px;
    grid-template-columns: 1fr;
    gap: 1px;
    align-items: right;
    text-align: right;
    cursor: pointer;
  }
  
  .text-right > div {
    padding: 9px;
    font-family: "elza", sans-serif;
    color: rgb(1, 255, 18);
    position: relative;
    align-items: right;
  }
  
  .text-right > div img {
    display: none;
    position: absolute;
    top: -100px;
    left: -100%;
    width: 100%;
    transition: opacity 0.5s;
  }
  
  .text-right > div:hover img {
    display: block;
    opacity: 1;
    z-index: 1;
  }
  .top-text-container {
    position: fixed; 
    font-family: "elza", sans-serif;
    font-weight: 800;
    font-size: 13px;
    color: rgb(1, 255, 18);
    top: -3.6px;
    left: 0;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  
  }
  img {
    width: 15px; /* 원하는 너비로 조절 */
    height: auto; /* 너비에 맞게 자동으로 높이를 조절하여 비율을 유지 */
  }
  
}
