

body {
  background-color: #0b00aa;
  display: flex;
}



#clock {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 4px; 
  right: 20px; 
  color: #000000;
}


.image {
  position: fixed;
  bottom: 40px; /* 요소를 아래로 10px 이동시킵니다. */
  right: 0;
  cursor: pointer;
}

.image-box {
  text-align: center;
  margin-right: 10px;
}

.image-box img {
  width: 140px;
  height: 140px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* 확대 효과를 0.3초 동안 부드럽게 적용 */
}

.image-box img:hover {
  transform: scale(1.3); /* 이미지를 1.1배 확대합니다. */
}

.image-box .caption {
  margin-top: -35px; /* 이미지와 텍스트 사이의 간격을 줄입니다. */
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}



.background {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 10;
  left: 0;
  z-index: -99;
}

.background img {
  width: 120vw; 
  height: 120vh;
  object-fit: contain;
}

.background::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px; 
  width: 100%;
  height: 40px;
  background-color: #afafaf; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.text {
  margin-top: 50px; /* 원하는 만큼 아래로 내리세요 */
  margin-left: 30px;
}


p {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 30px;

  margin-top: 20px; /* 간격을 줄입니다. */
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
  color: rgb(255, 255, 255);
}



#one{
   animation: type 1.8s steps(40, end) forwards;
}

p:nth-child(2) {
  animation: type2 1.8s steps(40, end) forwards;
  animation-delay: 2s;
}
p:nth-child(3) {
  animation: type3 1.8s steps(40, end) forwards;
  animation-delay: 4.3s;
}


@keyframes type {
  0% {
    opacity: 1;
    width: 0px;
    border-right: .2em solid #ffffff;
  }

  99% {
    border-right: .2em solid #ffffff;
  }

  100% {
    width: 30em;
    border: 0;
    opacity: 1;
  }
}
@keyframes type2 {
  0% {
    opacity: 1;
    width: 0px;
    border-right: .2em solid #ffffff;
  }

  99% {
    border-right: .2em solid #ffffff;
  }

  100% {
    width: 17em;
    border: 0;
    opacity: 1;
  }
}
  @keyframes type3 {
  0% {
    opacity: 1;
    width: 0px;
    border-right: .2em solid #ffffff;
  }

  99% {
    border-right: .2em solid #ffffff;
  }

  100% {
    width: 30em;
    border: 0;
    opacity: 1;
  }
}




@media screen and (max-width: 499px) {
  .text {
    margin-top: 40px; /* 원하는 만큼 아래로 내리세요 */
    margin-left: 8px;
  }
  
  
  p {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 12px;
    margin-top: 10px; /* 간격을 줄입니다. */
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    color: rgb(255, 255, 255);
  }
  
  
  
  #one{
     animation: type 1.8s steps(40, end) forwards;
  }
  
  p:nth-child(2) {
    animation: type2 1.8s steps(40, end) forwards;
    animation-delay: 2s;
  }
  p:nth-child(3) {
    animation: type3 1.8s steps(40, end) forwards;
    animation-delay: 4.3s;
  }
  
  
  @keyframes type {
    0% {
      opacity: 1;
      width: 0px;
      border-right: .2em solid #ffffff;
    }
  
    99% {
      border-right: .2em solid #ffffff;
    }
  
    100% {
      width: 30em;
      border: 0;
      opacity: 1;
    }
  }
  @keyframes type2 {
    0% {
      opacity: 1;
      width: 0px;
      border-right: .2em solid #ffffff;
    }
  
    99% {
      border-right: .2em solid #ffffff;
    }
  
    100% {
      width: 17em;
      border: 0;
      opacity: 1;
    }
  }
    @keyframes type3 {
    0% {
      opacity: 1;
      width: 0px;
      border-right: .2em solid #ffffff;
    }
  
    99% {
      border-right: .2em solid #ffffff;
    }
  
    100% {
      width: 28em;
      border: 0;
      opacity: 1;
    }
  }

  .image {
    position: absolute;
    bottom: 50px; /* 요소를 아래로 10px 이동시킵니다. */
    right: 10px;
    cursor: pointer;
  }
  
  .image-box {
    text-align: center;
    margin-right: 10px;
  }
  
  .image-box img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 확대 효과를 0.3초 동안 부드럽게 적용 */
  }
  
  .image-box img:hover {
    transform: scale(1.3); /* 이미지를 1.1배 확대합니다. */
  }
  
  .image-box .caption {
    margin-top: -35px; /* 이미지와 텍스트 사이의 간격을 줄입니다. */
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
  }
  #clock {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 25px;
    position: absolute;
    top: 4px; 
    right: 20px; 
    color: #000000;
  }
    
  .background {
    width: 100vw; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 10;
    left: 0;
    z-index: -99;
  }

  .background img {
    width: 120vw; 
    height: 120vh;
    object-fit: contain;
  }

  .background::before {
    content: '';
    display: block;
    position: absolute;
    top: -10px; 
    width: 100%;
    height: 40px;
    background-color: #afafaf; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
}

