

body {
  background-color: #0b00aa;
  display: flex;
}

.background1 {
  width: 50vw; 
  height: 50vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 38%; /* 화면 세로 중앙에 위치 */
  left: 50%; /* 화면 가로 중앙에 위치 */
  transform: translate(-50%, -50%); /* 요소의 가로와 세로 중앙을 화면의 가로와 세로 중앙에 맞춤 */
  z-index: 1;
}

.background1 img {
  max-width: 100%; /* 이미지가 부모 요소의 너비를 초과하지 않도록 함 */
  max-height: 100%; /* 이미지가 부모 요소의 높이를 초과하지 않도록 함 */
  object-fit: contain;
}

.background1 img {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.wallpaper {
  width: 100vw; /* 화면 너비에 꽉 차도록 설정 */
  height: 100vh; /* 화면 높이에 꽉 차도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 0; /* 화면 맨 위에 위치 */
  left: 0; /* 화면 맨 왼쪽에 위치 */
  z-index: -1; /* 요소를 화면 뒤에 위치시킴 */
  opacity: 60%;

}

.wallpaper img {
  width: 100%; /* 부모 요소에 맞춰진 이미지 너비 */
  height: 100%; /* 부모 요소에 맞춰진 이미지 높이 */
  object-fit: cover; /* 이미지가 부모 요소를 완전히 덮도록 설정 */
}





.image {
  position: absolute;
  bottom: 20%; /* 요소를 아래로 50px 이동시킵니다. */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image-box {
  text-align: center;
  margin: 0 auto; /* 좌우 여백을 auto로 설정하여 가운데 정렬합니다. */
}


.image-box img {
  width: 200px; /* 너비를 180px로 조정 */
  height: 200px; /* 높이를 180px로 조정 */
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.image-box img:hover {
  transform: scale(1.3); /* 이미지를 1.3배 확대합니다. */
}

.image-box .caption {
  margin-top: -35px; /* 이미지와 텍스트 사이의 간격을 줄입니다. */
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  text-align: center;
}

#overlay img {
  max-width: 80%;
  max-height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





@media screen and (max-width: 499px) {

  .image {
    position: absolute;
    bottom: 30%; /* 요소를 아래로 10px 이동시킵니다. */
    cursor: pointer;
    z-index: 1;
  }
  
  .image-box {
    text-align: center;
  }
  
  .image-box img {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease; /* 확대 효과를 0.3초 동안 부드럽게 적용 */
  }
  
  .image-box img:hover {
    transform: scale(1.3); /* 이미지를 1.1배 확대합니다. */
  }
  
  .image-box .caption {
    margin-top: -35px; /* 이미지와 텍스트 사이의 간격을 줄입니다. */
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 14px;
    color: white;
    cursor: pointer;
  }

  .wallpaper {
    width: 100vw; /* 화면 너비에 꽉 차도록 설정 */
    height: 100vh; /* 화면 높이에 꽉 차도록 설정 */
    z-index: -1;
  }
  
  .wallpaper img {
    width: 100%; /* 부모 요소에 맞춰진 이미지 너비 */
    height: 100%; /* 부모 요소에 맞춰진 이미지 높이 */
    
  }
  .background1 {
    width: 70vw; 
    height: 70vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 38%; /* 화면 세로 중앙에 위치 */
    left: 50%; /* 화면 가로 중앙에 위치 */
    transform: translate(-50%, -50%); /* 요소의 가로와 세로 중앙을 화면의 가로와 세로 중앙에 맞춤 */
    z-index: 1;
  }
  
  .background1 img {
    max-width: 100%; /* 이미지가 부모 요소의 너비를 초과하지 않도록 함 */
    max-height: 100%; /* 이미지가 부모 요소의 높이를 초과하지 않도록 함 */
    object-fit: contain;
  }
}

