

body {
  background-color: #0b00aa;
  display: flex;
}



#clock {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 20px;
  position: absolute;
  top: 3px; 
  right: 20px; 
  color: #000000;
}


.image {
  position: fixed;
  bottom: 40px; /* 요소를 아래로 10px 이동시킵니다. */
  right: 0;
  cursor: pointer;
}

.image-item {
  text-align: center;
  margin-right: 10px;
}

.image-item img {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease; /* 확대 효과를 0.3초 동안 부드럽게 적용 */
}

.image-item img:hover {
  transform: scale(1.3); /* 이미지를 1.1배 확대합니다. */
}


.image-item p {
  margin-top: -35px; /* 이미지와 텍스트 사이의 간격을 줄입니다. */
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}


.background {
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  top: 10;
  left: 0;
  z-index: -99;
}

.background img {
  width: 120vw; 
  height: 120vh;
  object-fit: contain;
}

.background::before {
  content: '';
  display: block;
  position: absolute;
  top: -10px; 
  width: 100%;
  height: 30px;
  background-color: #afafaf; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


.first {
  font-family: 'Pixelify Sans', sans-serif;
  color: white;
  font-size: 20px;
  overflow: hidden;
  border-right: .15em solid rgb(255, 255, 255);
  white-space: nowrap; 
  margin: 0; 
  margin-top: 50px;
  margin-left: 20px;
  letter-spacing: .10em; 
  animation: typing 7s steps(30, end), blink-caret .5s step-end infinite; 
  text-align: left;
}

/* 타이핑 효과 애니메이션 키프레임 설정 */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* 깜빡이는 커서 효과 애니메이션 키프레임 설정 */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
  51% {
    border-color: white; /* 커서가 깜빡이는 동안 텍스트 색상과 같도록 지정 */
  }
}



@media screen and (max-width: 499px) {


    .filter {
      position: fixed;
      top: 10%;
      left: 50%;
      transform: translate(-50%, 0);
      text-align: center;
      z-index: 2;
      }
      
      .filter a {
      display: inline-block;
      font-family: "elza", sans-serif;
      font-size: 9px;
      padding: 3px 10px;
      margin: 0 10px;
      background-color: rgba(1, 255, 18, 0); 
      color: #f74c25;
      text-decoration: none;
      border-radius: 50px;
      border: 1px solid #f74c25; 
      }
      

    
}

